body{
    margin: 0;
    padding: 0;
}

.app{
    min-height: 100vh;
    background-color: #211f1f;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
    background-color: #c92502;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.33s ease;
    font-size: 1.25rem;
    align-self: flex-start;

    &:hover{
        background-color: #891b02;
    }
}

.miniT{
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 24px;
    color: #c92502;
    margin-bottom: 8px;
    text-transform: uppercase;
}